/* FOOTER */
footer{
    background: #333;
    padding: 10px 0 40px;
}
footer h5{
    padding-top: 50px;
    font-weight: normal;
    color: #fff;
}
footer .footer-glyphicon{
    font-size: 25px;
    color: #FFF695;
    height: 30px;
    position: absolute;
}
footer .footer-glyphicon:hover{
    font-size: 27px;
}
footer .row i{
    color: #FFF695;
}
footer .row h6{
    color: #fff;
    font-weight: normal;
    padding-top: 5px;
}
footer .row h5{
    color: #5D6F77;
    font-weight: normal;
    padding-top: 5px;
    font-size: 14px;
}
footer .row h5 #date-copyright{
    color: #5D6F77;
    font-size: 10px;
}
